{% extends "base.html" %}

{% block content %}

    <h1>BLOG POSTS</h1>
    <ul>

          {% for post in posts %}
              <li>

                 <a href="/blog?id={{post.id}}"><p><h2>{{ post.name}}</h2></p></a>
                 <p> {{ post.b_info }}</p>
                 <p> Posted on: {{ post.posted}}</p>
                 <p> Posted by: <a href="/blog?userid={{post.owner_id}}">{{ post.owner.username }}</a></p>

              </li>
              <hr/>
          {% endfor %}
    </ul>
{% endblock %}